body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
  background-color: #f5f5f5;
}
.hero {
  background: #2f303a;
}
.hero-title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.title-section {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.title-name {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.title-profession {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}
.header-menu {
  background-color: #ffffff;
}
.logo-nav {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo {
  color: #2196f3;
}
.logo-two {
  color: #000000;
}

.header-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.header-tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.header-link:focus,
.header-link:hover {
  color: #2196f3;
}
.header-tel:hover,
.header-tel:focus {
  color: #2196f3;
}

.buttons {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 63;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
}

.buttons:hover,
.buttons:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.main {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.main-content {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.text-address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.text-address-tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.text-address:hover,
.text-address:focus {
  color: #2196f3;
}
.text-address-tel:hover,
.text-address-tel:focus {
  color: #2196f3;
}
.footer-menu {
  background-color: #2f303a;
}
.logo-three {
  color: #ffffff;
}
